<div class="container">
    <h2 class="form-signin-heading">Hi, I'm JeffBot</h2>
    <label for="inputArg" class="sr-only">Email address</label>
    <input type="text" id="inputArg" class="form-control" placeholder="Say something nice..." required autofocus>
    <input type="button" value="Send" id="msgTrigger" >
    <p id="messageQueue">Your messages will appear here.</p>
</div>
<script src="src/js/chathandler.js"></script>